.navigation.pagination{
    margin: 0;

    @media (hover: none) and (pointer: coarse) and (max-width: 600px) {

    .nav-links a:nth-of-type(even){
        padding-top: 3.0rem;
    }

    .nav-links a:nth-of-type(odd){
        padding-bottom: 3.0rem;
    }
}


    .nav-links a:last-child,
    .nav-links a:nth-child(1){
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

.page-numbers{
    display: inline-block;
    float: none;
    margin-left: 0;
    margin-right: 1.0vw;
    padding: 0.5rem 1.0vw;
    border-color: $brand-white;
    min-width: auto;

    &.prev,
    &.next{
        min-width: 1.25rem;
    }

    &.prev{
        margin-right: 1.0vw;
    }

    &.next{
        margin-left: 0
    }

    &:active,
    &:hover,
    &:focus{
        background-color: $brand-white;
        color: $brand-primary
    }

    &.current{
        color: $brand-primary
    }

    &.dots{
        padding: 0;
        border-color: transparent;
    }
}
}

/*
.navigation .nav-links .nav-previous{
  text-align: left;
}
.navigation .nav-links .nav-next{
  text-align: right;
}
.blog .nav-next a,
.blog .nav-previous a{
  font-size:0;
  font-family: $headline-font-stack;
}

.blog .nav-next a:before,
.blog .nav-previous a:after{
  content: "\00ab";
  font-size: 1.7rem;
  display: inline-block;
}

.blog .nav-previous a:after{
  content: "\00bb";
}

.blog .nav-next a:after,
.blog .nav-previous a:before{
  content: 'Newer';
  text-transform: uppercase;
  font-size: 1.3rem;
  display: inline-block;
  padding: 0 5px
}

.blog .nav-previous a:before{
  content: 'Older';
}

*/

