/*
.single .navigation{
  margin-top: 20px;
  padding-bottom: 5px;
}
.single .navigation .nav-links .nav-direction {
  padding: 20px
}

.single .post-navigation {
  font-family: $headline-font-stack;
}

.single .navigation .nav-links .nav-next,
.single .navigation .nav-links .nav-previous {
  text-align: center;
  float: unset;
  width: 100%
}

.post-adjacent-img-wrap{
  position: relative;
  text-shadow: $text-shadow-dark;
}

.post-adjacent-img-wrap img{
  height: 280px;
  max-width: 576px;
  width: 100%;
  object-fit: cover;
}

.post-adjacent-img-wrap img:hover, .post-adjacent-img-wrap img:focus {
  opacity: .9;
}

.post-adjacent-title{
  color: $brand-white;
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  top: 3px;
  right: 10px;
  left: 10px;
}

.post-adjacent-img-wrap .nav-next-label,
.post-adjacent-img-wrap .nav-previous-label{
  font-size: .85rem;
  text-transform: uppercase;
  padding: 0 20px;
  color: $brand-white;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 7px;
}

.post-adjacent-img-wrap .nav-next-label:before,
.post-adjacent-img-wrap .nav-previous-label:after{
  content: $arrow-before;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0 5px
}

.post-adjacent-img-wrap .nav-previous-label:after {
  content: $arrow-after;
}

.single .navigation .nav-links > div {
  width: 100%;
}

*/

.xxnavigation.post-navigation a{
    border: 1px solid $brand-black;
}

.xxnavigation.post-navigation a:hover{
    border: 1px solid $brand-primary;
}


.xsingle .nav-direction.nav-next,
.xsingle .nav-direction.nav-previous{
    background: $brand-black;
    text-align: center;
    padding: .8rem 1rem;

    a{
        color: $brand-white;
        font-size: .85rem;

        .post-adjacent-title{
            font-family: $headline-font-stack;
            font-weight: bold;
            font-size: 1.2rem;
            line-height: 1.1;
        }
    }

    .nav-next-label,
    .nav-previous-label{
        margin-bottom: .75rem
    }
}
@media screen and (min-width: 800px) {

  .single .navigation .nav-links .nav-next,
  .single .navigation .nav-links .nav-previous {
    width: 49%;
    margin-bottom: 0
  }

  .single .navigation .nav-links .nav-next{
      float: left;
      margin-right: 7.5px;

  }

  .single .navigation .nav-links .nav-previous{
      float: right;
      margin-left: 7.5px;

  }

}

@media screen and (min-width: 1024px) {

}


/*



.Xpost-navigation{
  width: 100%;
  font-family: $headline-font-stack;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding: 15px 10px
}

.Xpost-navigation:after {
  content: "";
  display: table;
  clear: both;
}


.nav-direction.nav-next .post-adjacent-img-wrap{
  float: left;
}

.nav-direction.nav-previous .post-adjacent-img-wrap{
  float: right;
}

.post-navigation .post-adjacent-img-wrap img{
  width: 100%;
  max-width: none;
}

.post-navigation.nav-previous .post-adjacent-title{
  text-align: left;
}

.post-navigation.nav-next .post-adjacent-title{
  text-align: right;
}

@media (max-width: 480px) {
  .Xpost-navigation .post-adjacent-title {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .Xpost-navigation .post-adjacent-img-wrap{
    width: 85px
  }
}

.navigation .nav-links .nav-direction{
  width: 100%;
  float: left;
  padding: 1rem 4vw;
}

 */


@media (min-width: 1024px) {
  .navigation .nav-links .nav-direction{
    width: 50%;
    float: left
  }
}

