.search .page-header,
.details-inner.details-newsletter,
.details-inner.details-search,
.details-inner.details-comments {

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $brand-white;
        opacity: 1; /* Firefox */
        font-family: $headline-font-stack;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: $brand-white;
    }

    label{
        display: block;
    }

    input.wpez-hsnf-email,
    .wpez-hsnf-step-3 input[type=text],
    textarea#comment,
    input#author,
    input#email,
    input#url,
    input.search-field{
        letter-spacing: 1.5px;
        color: $brand-white;
        background-color: $brand-black;
        border-color: $brand-white;
        padding: 0.7rem;
        border-radius: 0;
     //   width: calc(100% - 20px);

        &:focus{
            background: $brand-white;
            color: $brand-black;
            background-color: $brand-white;
            border-color: $brand-white;
            color: $brand-black;
        }
    }
    
    input.search-field{
        width: calc(100% - 20px);
    }

    .comment-form-cookies-consent,
    .wpez-hsnf-step-2{

        // https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3
        
        input[type="checkbox"] {
            opacity: 0;
        }
        
        label {
            position: relative;
            display: inline-block;
            padding-left: 1.5rem;
            margin-left: -14px; // width of the proper checkbox we're "overriding"
        }
        
        label::before,
        label::after {
            position: absolute;
            content: "";
            /*Needed for the line-height to take effect*/
            display: inline-block;
            height: 1.0rem;
            width: 1.0rem;
            border: 1px solid;
            top: 3px;
            right: 0;
            bottom: 0;
            left: -5px;
            
        }
        
        /*Outer box of the fake checkbox*/
        label::before{
         /*   height: 1.0rem;
            width: 1.0rem;
            border: 1px solid;
            left: -5px;
            top: 3px; */
        }
        
        /*Checkmark of the fake checkbox*/
        label::after {
          //  height: 5px;
          //  width: 9px;
          //  border-left: 2px solid;
          //  border-bottom: 2px solid;
          //  transform: rotate(-45deg);
      /*    height: 1rem;
          width: 1rem;
          top: 0;
          right: 0;
          bottom: 0;
            left: -4px;*/
        }
        
        /*Hide the checkmark by default*/
        input[type="checkbox"] + label::after {
          //  content: none;
        }
        
        /*Unhide on the checked state*/
        input[type="checkbox"]:checked + label::after {
            font-family: $headline-font-stack;
                    font-weight: bold;

            color: $brand-black;
            content: "X";
            background-color: $brand-white;
            border: 1px solid $brand-white;
                text-align: center;
                line-height: 1;

        }
        
        /*Adding focus styles on the outer-box of the fake checkbox*/
        input[type="checkbox"]:focus + label::before {
            outline: rgb(59, 153, 252) auto 5px;
        }



/***************END**************/

        /*
        input[type=checkbox]{
            width: 1.0rem;
            height: 1.0rem;
            padding: 0;
            margin: 0;
            margin-right: 0.3rem;
            vertical-align: bottom;
            position: relative;
            top: -0.2rem;
            
            &:checked:after{
              //  width: 100%;
              //  height: 100%;
                color: $brand-black;
                font-family: $headline-font-stack;
                font-weight: bold;
                content: 'X';
                background-color: $brand-white;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                text-align: center;
            }
        }
        */
    }


    .wpez-hsnf-form,
    .comment-form,
    .search-form{

        button[type=submit],
        input[type=submit] {
            display: block;
            font-weight: normal;
            margin-top: .5rem;
            background-color: $brand-black;
            border: 1px solid $brand-white;
            border-radius: 0;

            &:hover{
                background-color: $brand-white;
                color: $brand-primary
            }
        }
    }
}

.search .page-header{
    input.search-field{
        width: 100%
    }
}
