.entry-header{
    margin-bottom: 1.0rem;
}

// We want the h2 tag but not the style
h2.entry-excerpt{
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.entry-wrapper .hero-wrapper{
  margin-top: 1.0rem;
}
.hero-wrapper{
        height: calc(100vh - 2.0rem - 60px);
        overflow: hidden;
        position: relative;
        color: $brand-white;
        background:$brand-black;
        margin: 1.0rem;

        .entry-title{
            color: $brand-white;
            margin-bottom: 1rem;
        }

        .au-tagline{
          font-family: $headline-font-stack;
          display: none;
          position: absolute;
          right: 0;
          bottom: 35%;
          left: 10px;
          text-align: center;
        }
    }

 .has-scrolled40  .hero-wrapper{
   position: relative;
     background-color: $brand-black;
     background-image: url($brand-logo-alt);
     background-repeat: no-repeat;
     background-position: 50% 100%;
     animation: fadeIn;
     animation-duration: 1.5s;
     background-size: 35vh 35vh;

     .au-tagline{
       display: block;

     }
 }

 @keyframes fadeIn {
    0% {
        background-size: 0 0;
    }
    100% {
        background-size: 35vh 35vh;
    }
  }


.hero-wrapper .entry-header {
  animation-duration: 3.0s;
  animation-name: slideDown;
}

@keyframes slideDown {
  0% {
    transform: translateY(-70vh);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    transform: translateY(-50%);
    opacity: 1;
  }
}

.hero-wrapper .entry-header{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:50%;
    left: 50%;
    width: 90vw;
    margin-left: -45vw;
    padding: 0 4vw;
    }

@media screen and (min-width: 1024px) {

    .hero-wrapper .entry-header{
      width: 1000px;
      margin-left: -500px;
    }
}



.has-scrolled40 .hero-wrapper .entry-header{
  top: 80vh;
  transition: all 1.0s ease;
}


.hero-wrapper .entry-header{
  opacity: 1;
  transition: all 1.5s ease;
}

.has-scrolled40 .hero-wrapper .entry-header{
  opacity: 0;
}

.hero-wrapper .entry-header h1{
  color: $brand-white;
/*  text-shadow: $text-shadow-dark; */
}

.blog.paged .suki-content-inner,
.page .suki-content-inner,
.error404 .suki-content-inner,
.single .suki-content-inner{
  padding: 0
}

@media screen and (min-width: 768px) {

  .hero-wrapper {
    height: calc(100vh - 2.0rem - 60px);
    margin: 1.0rem;
    padding: 35px
  }

}

@media screen and (min-width: 1024px) {

  .hero-wrapper {
    height: calc(100vh - 2.0rem - 75px);
    padding: 50px;
    position: relative;
    width: calc(100vw - 3.0rem);
    left: 50%;
    right: 50%;
    margin-left: calc(-50vw + 1.5rem);
    margin-right: calc(-50vw + 1.5rem);
  }


  .hero-wrapper .single-hero-cover img {
    @include img-grid(1, 1, 0%, 180px);
  }
}
