.suki-header-mobile-vertical-bar-top{

    ul.suki-header-social.menu{
        position: absolute;
        right: 0;
        bottom: 1rem;
        left: 0;
    }
}

ul.suki-header-social.menu{
    display: flex;
    -ms-flex-pack: distribute;
    /* justify-content: space-between; */
    justify-content: space-around;

    li.menu-item {
        display: inline-block;
        margin: 0 0 0 0;

        a {
            padding: 0;
            margin:0;
            border: none;

            &:hover{

                background-color: transparent;

                .suki-icon svg:not([stroke]) {
                    stroke: $brand-primary;
                }

                .suki-icon svg:not([fill]) {
                    fill: $brand-primary;
                }
            }

            .suki-icon svg {
                height: 1.25rem;
                width: 40px;
                margin: 0;
            }
        }
    }

    /*
    .suki-icon svg:not([stroke]) {
        stroke: $brand-white;
    }

    .suki-icon svg:not([fill]) {
        fill: $brand-white;
    }
    */
}
