
.entry-content{

  // quote = quote
  blockquote.wp-block-quote{

    border-color: $brand-white;
    border-width: 1.0px;
    padding: 1.5rem 0 1.5rem 1.0rem;
    margin: 2.0rem 0.75rem;
 
    
    p {
      font-size: 1.25rem;
    }

     @media screen and (min-width: 600px) {
       
      padding: 2.0rem 1.0rem;
       margin: 3.0rem 2.0rem;

     }

    cite{
      text-align: left
    }
  }

  figure.wp-block-pullquote{
    border: none
  }

  // quote with quote-mark
  figure.wp-block-pullquote{
    
    background-image: url("../svg/left-quote.svg");
    background-repeat: no-repeat;
    background-position: 7% 4%;
    background-size: 15vh 15vh;
    
    blockquote{
      border-top: 1px solid $brand-white;
      border-bottom: 1px solid $brand-white;
      
      max-width: 90%;
      padding: 2.5rem 0 1.5rem;
      margin: 3.0rem auto;
      
      &:before{
        content: none;
        opacity: 0;
      }
    
      p { 
        font-size: 1.50rem;
      }

      @media screen and (min-width: 600px) {
      
        max-width: 80%;
      }
    }
  }

    cite{
      text-align: right
    }

   figure.wp-block-pullquote.alignwide{

    left: unset;
    min-width: unset;
    max-width: unset;
    width: unset
   }

  @media screen and (min-width: 1340px){

    figure.wp-block-pullquote.alignwide{
      left: calc(50% - (1340px / 2));
      max-width: 1340px;
      width: calc(100vw - (2 * 20px));
      
      blockquote{
        max-width: 100%;
        padding: 4.0rem 5.0rem;

        &:before{
          top: -6.0rem;
          left: 1.0rem;
          font-size: 25rem;

        }

        p{
          font-size: 2.5rem;
          line-height: 1.25;
        }

        cite{
          font-size: 1.75rem
        }
      }
    }
  }
  
  // shared
  blockquote.wp-block-quote,
  figure.wp-block-pullquote blockquote{

    color: $brand-white;
    background-color: transparent;
    letter-spacing: -0.05rem;
    
    cite{
      color: $brand-white;
      opacity: 1;
      font-size: 1.5rem;
      margin-top: 1.5rem;
      
      &:before {
        content: '\2014 ';
        margin-right: 0.5rem;
      }
    }

  }

}
