.entry-content {
  margin: 0 3vw 1rem;
  border-top: solid 1px $brand-white;

  pre {
      background-color: $brand-black;
      padding: 2.4rem 1.2rem ;
      margin-left: 1.2rem;
      border-left: 1px solid $brand-white;

      code {
      background-color: inherit;
      }
  }

  ul{
      padding-right: 2.0rem
  }
}

.entry.entry-layout-default{
    margin-bottom: 0;
}


figure{
    margin: 1rem 0;
}


#canvas{
    background: $brand-white;

    .site-main,
    #page{
        background-color: transparent;
    }
}

.has-scrolled #canvas {
    background:$brand-black;
    transition: all 1s ease;
}
