// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.site-footer{
    background-color: $brand-black;
    margin-top: 2rem;
    padding-top: 2rem;


    .entry-content{
    padding-top: 2.0rem;
    }

    .choice-of-action{
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $brand-white;
    }

    .blog-wrapper{
        margin: 2rem 0;
    }

    #details-au-social{
        margin-bottom: 3.5rem;
    }

    #details-search{
        margin-top: 3.5rem;
    }

    .suki-footer-widgets-bar-inner{
        padding: 0;
    }

    .suki-footer-copyright-content {
        font-family: $headline-font-stack;

        a {
            padding: 0;
        }
    }
}

.details-inner.details-newsletter{


    fieldset{
        border-color: transparent;
        border-top-color: $brand-white;
        margin: 0 0 2.5rem 0;
        padding: .5rem 0 0 1.0rem;
    }

    legend{
        padding: 0 1rem;
        font-size: 1.25rem;
        margin-bottom: 1.0rem;

        div{
            font-size: 1.0rem;            
        }
    }

    // we do some fudging to compensate for the fieldsets within the newletter form
    .wpez-hsnf-fieldset-inner{
        margin-left: -1.0rem
    }

  //  input[type="email"],
    input[type="text"]{
        margin-bottom: 1rem;
    }

    @media only screen and (max-width: 450px) {
        input[type="email"],
        input[type="text"]{
            width: calc( 92vw - calc( 1px + 3.7rem ) );
            max-width: 407px;
        }
    }


    input[type="email"]{
        background-image: none !important;
    }

    .wpez-hsnf-step-2 label{
        display: inline
    }

    // step 1 msgs
    .wpez-hsnf-step-2-true .wpez-hsnf-msg-step-1,
    .wpez-hsnf-step-2-false .wpez-hsnf-msg-step-1-true,
    // step 2 - the whole step
    // X .wpez-hsnf-step-2-false .Xwpez-hsnf-step-2,
    // step 2 - msgs
    .wpez-hsnf-step-3-false .wpez-hsnf-msg-step-2-true,
    .wpez-hsnf-step-3-true .wpez-hsnf-msg-step-2,
    // step 3- the whole step
    // X .wpez-hsnf-step-3-false .Xwpez-hsnf-step-3-wrapper,
    // step 3 - the msgs
    .wpez-hsnf-step-3-true.wpez_hsnf_name_first-true .wpez-hsnf-msg-step-3-init,
    .wpez-hsnf-step-3-true.wpez_hsnf_name_last-true .wpez-hsnf-msg-step-3-init,
    .wpez-hsnf-step-3-true.wpez_hsnf_name_first-false.wpez_hsnf_name_last-false .wpez-hsnf-msg-step-3-init,
    .wpez-hsnf-step-3-true .wpez-hsnf-msg-step-3-thx-nf,
    .wpez-hsnf-step-3-true .wpez-hsnf-msg-step-3-thx-nl,
    .wpez-hsnf-step-3-true .wpez-hsnf-msg-step-3-thx-both,
    .wpez-hsnf-step-3-true .wpez-hsnf-msg-step-3-thx-none{
        display: none;
    }

    .wpez-hsnf-step-1 {
        p.wpez-hsnf-msg-step-1,
        p.wpez-hsnf-msg-step-1-true{
            margin: 1.5rem 0 0 0;
            padding: 0;
            padding-left: 0
        }
    }

    .details-inner.details-newsletter .wpez-hsnf-step-2-true .wpez-hsnf-msg-step-1-true,
    .details-inner.details-newsletter .wpez-hsnf-step-3-true.wpez_hsnf_name_first-false.wpez_hsnf_name_last-false .wpez-hsnf-msg-step-3-thx-none,
    .details-inner.details-newsletter .wpez-hsnf-step-3-true.wpez_hsnf_name_first-true.wpez_hsnf_name_last-true .wpez-hsnf-msg-step-3-thx-both,
    .details-inner.details-newsletter .wpez-hsnf-step-3-true.wpez_hsnf_name_first-true:not(.wpez_hsnf_name_last-true) .wpez-hsnf-msg-step-3-thx-nf, 
    .details-inner.details-newsletter .wpez-hsnf-step-3-true.wpez_hsnf_name_last-true:not(.wpez_hsnf_name_first-true) .wpez-hsnf-msg-step-3-thx-nl{}

    .wpez-hsnf-step-3-true.wpez_hsnf_name_first-true.wpez_hsnf_name_last-true .wpez-hsnf-msg-step-3-thx-both,
    .wpez-hsnf-step-1 p.wpez-hsnf-msg-step-1-true,
    .wpez-hsnf-step-2 p.wpez-hsnf-msg-step-2-true{

        background-image: url(../svg/au-heart-solid.min.svg);
        background-position: 0 52%;
        background-repeat: no-repeat;
        background-size: 1.5rem;
        padding-left: 2.0rem;
        margin-left: -5px;     
    }

    .wpez-hsnf-msg-step-2,
    .wpez-hsnf-msg-step-2-true{
        margin-bottom: 0;
    }


    
    .wpez-hsnf-step-2-wrapper,
    .wpez-hsnf-step-3-wrapper{
        transition: max-height 1s ease-in-out;
    }

    .wpez-hsnf-step-2-false .wpez-hsnf-step-2-wrapper,
    .wpez-hsnf-step-3-false .wpez-hsnf-step-3-wrapper{
        max-height: 0;
        overflow: hidden;
    }

    .wpez-hsnf-step-2-true .wpez-hsnf-step-2-wrapper,
    .wpez-hsnf-step-3-true .wpez-hsnf-step-3-wrapper{
        overflow: hidden;
       max-height: 100vh;
    }

    // step 1 completed
    .wpez-hsnf-step-2-true .wpez-hsnf-msg-step-1-true,
    // X .wpez-hsnf-step-2-true .Xwpez-hsnf-step-2,
    // step 2 completed
    // X .wpez-hsnf-step-3-true .Xwpez-hsnf-msg-step-2-true,
    // step 3 (optional msgs)
    .wpez-hsnf-step-3-true.wpez_hsnf_name_first-true:not(.wpez_hsnf_name_last-true) .wpez-hsnf-msg-step-3-thx-nf,
    .wpez-hsnf-step-3-true.wpez_hsnf_name_last-true:not(.wpez_hsnf_name_first-true) .wpez-hsnf-msg-step-3-thx-nl,
    .wpez-hsnf-step-3-true.wpez_hsnf_name_first-true.wpez_hsnf_name_last-true .wpez-hsnf-msg-step-3-thx-both,
    .wpez-hsnf-step-3-true.wpez_hsnf_name_first-false.wpez_hsnf_name_last-false .wpez-hsnf-msg-step-3-thx-none{
    display: block;
    }

    .wpez-hsnf-step-3-true .wpez-hsnf-step-3-wrapper {

        margin-bottom: 2.5rem;

        & button[type=submit]:disabled{
             border-color: $brand-primary;
             color: $brand-primary;
             background-color: $brand-white;
         }
     }

    .wpez-hsnf-form input.email{
        content: '';
    }


    fieldset.wpez-hsnf-step-3{
        margin-bottom: 0;

        [class^='wpez-hsnf-msg-step-3-']{
            margin-top: 0.5rem;
        }
    }

    .wpez-hsnf-step-3-msgs{
      
        background-color: $brand-white;
        border: 0.5rem solid $brand-white;
        color: $brand-black;
        margin-bottom: 1.5rem;
        padding: 0.5rem;

        &.msg-error{
            border-color: $brand-primary;

            ul{
                margin-bottom: 0
            }
        }

        p{
            margin: 0;
        }
    }

    .wpez-hsnf-step-3-msgs.submit-false{
        display: none
    }

}

.details-inner.details-comments{

    .comments-area{

        margin-top: 0rem;

        .comment-respond{
            padding-top: 1.0rem;

            form #comment{
                box-sizing: border-box;
            }
            
            .comment-form-cookies-consent label{
                display: inline;
            }
        }
         .comment-list{
             .comment-meta,
             .comment-content,
             ol,
             ul {
                 padding-left: 0;
            }
            ol,
            ul {
                 padding-left: 1.0rem;
                 border-left: 1px solid $brand-white
            }
            ol li,
            ul li{
                border-top-width: 0;
            }

            .comment-body{
                margin-bottom: 3rem;
                padding: 0;

                .comment-author a:hover {
                    color: $brand-primary;
                }

                .reply a:focus,
                .reply a:hover {
                    color: $brand-primary;
                }

                footer.comment-meta{
                    display: flex;
                    flex-direction: column;
                    flex-flow: column-reverse;
                    
                    .comment-author .fn {
                        font-weight: normal;
                    }
                }

                .comment-metadata{
                    line-height: 1.2;
                    font-size: 0.85rem;
                }

            } 
        }
    }
}

.details-blog-next-prev{

    nav {
        margin-top: 0;
    }

    .nav-direction{
        text-align: center;
    }

    .nav-direction-divider{
        border-top: 1px solid $brand-white;
        width: 50%;
        margin: 0 auto;
        display:block
    }


        a.direction{

            display: block;
            font-size: .85rem;
            padding: 1.5rem 1rem;
            text-decoration: none;
            border: 1px solid transparent;

            &[rel='next']{
                margin-bottom: -1px;
            }
            
            &[rel='prev']{
                margin-top: -1px;
            }

            &:hover{
                border: 1px solid $brand-primary;
            }

            .nav-next-label,
            .nav-previous-label{
                margin-bottom: 1.5rem;

            }

            .post-adjacent-title{
                font-family: $headline-font-stack;
                font-weight: bold;
                font-size: 1.2rem;
                line-height: 1.5;
                display: inline;
                padding-bottom: 2px;
                border-bottom: 1px solid $brand-white;
            }

            &:hover .post-adjacent-title{
                text-decoration: none;
                border: 1px solid transparent;
            }
        }
}

@media only screen and (min-width: 8000px) {
    nav .blog-next-prev-wrapper{

        .nav-direction-divider{
            display: none;
        }

        display: table;
        width: 100%;

        a.direction{
            display: table-cell;
            width: 50%;
            padding: 1rem;
        }

        &.next a[rel=next],
        &.nextprev a[rel=next]{
            border-right: 1px solid $brand-white;

            &:hover{
                border: 10px solid $brand-primary;
            }
        }
        &.prev a[rel=prev]{
            border-left: 1px solid $brand-white;

            &:hover{
                border: 10px solid $brand-primary;
            }
        }

        .nav-direction{

            &.nav-next{
                border-bottom: 0;
            }

            &.nav-previous{
                border-top: 0;

            }
        }
    }
}

.site-footer{
    details{

        nav a{
            line-height: 1.0;
            display: inline-block;
        }

        nav li:not(:last-of-type){
            margin-bottom: 1.0rem
        }

        summary:hover{
            cursor: pointer;
        }

        .details-inner{

            border-left: 1px solid $brand-white;
            margin-left: 1rem;
            margin-top: .5rem;
            padding: 0.5rem 0.5rem .5rem 1.0rem;

            .footer-nav{
                padding-top: .1rem;
                padding-bottom: .1rem;
            }
        }

        @keyframes slidein {
            from {
            height: 0;
            }

            to {
            height: auto
            }
        }

        &[open] .footer-search-wrapper{
            animation-name: slidein;
            animation-duration: .2s;
        }

    }
    .au-back-to-top{
        text-align: center;

        #au-b2t{
            width: 1.5rem;
            border-bottom: unset;

            &:hover .triangle-up{
                border-bottom-color: $brand-primary;
            }
        
            .triangle-up{
                border: .75rem solid transparent;
                border-bottom: .75rem solid $brand-white;
                display: inline-block;
                &:hover{
                    border-bottom-color: $brand-primary;
                }
            }
        }

    }
}
