.suki-loop article{
    background-color: $brand-black;
    border: 1px solid $brand-white;
    padding: 2rem;

    .entry-title{
      display: inline;
      border-bottom: .1rem solid $brand-white;
    }

    &:hover .entry-title{
      border-bottom-color: transparent;
    }
}




/*
.archive .suki-content-layout-narrow .site-main,
.blog .suki-content-layout-narrow .site-main {
  max-width: 100%;
  padding: 0;
}

.suki-loop-grid .entry-wrapper{
  position: relative;
}

.suki-loop-grid .entry {
  margin-bottom: 15px;
}

.suki-loop-grid .entry-layout-grid .entry-thumbnail:first-child {
  margin-top: 0;
}

.suki-loop-grid .entry-wrapper header{
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  padding: 0 15px
}

.suki-loop-grid .entry-wrapper header h2{
  font-size: 1.5rem;
}

.suki-loop-grid .entry-wrapper header a{
  color: $brand-white;
  text-shadow: $text-shadow-dark;
}

.suki-loop-grid .entry-wrapper img {
  height: calc((100vh - 150px)/ 2);
  -o-object-fit: cover;
  object-fit: cover;
}

.entry-small .entry-thumbnail {
  margin: 0;
}

.entry-layout-grid .entry-wrapper {
  padding: 0;
  background-color: #fff;
}

.suki-loop-grid.suki-loop-grid-3-columns .entry {
  width: 100%;
}

@media screen and (min-width: 768px) {

  .suki-loop-grid .entry-wrapper header h2{
    font-size: 1.65rem;
  }

  .suki-loop-grid.suki-loop-grid-3-columns .entry {
    width: 50%;
  }

  .suki-loop-grid .entry {
    margin-bottom: 30px;
  }

  .blog .suki-content-layout-narrow .site-main {
    padding: 15px;
    padding-bottom: 0;
  }
}


@media screen and (min-width: 1120px) {


  .suki-loop-grid.suki-loop-grid-3-columns .entry {
    width: 33.33%;
  }
}


/*
.suki-loop-grid .suki-wrapper{

 width: 100%
}

.suki-loop-grid{
  background-color: $brand-primary;
}

.suki-loop-grid .suki-content-layout-narrow .site-main {
  max-width: 100%;
}

.suki-loop-grid .content-area .site-main{
  padding-top: 0;
}

.suki-loop-grid .suki-content-inner{
padding: 0
}
  .suki-loop-grid .entry .entry-wrapper h2 {
    @include font-size(3.5rem);
    display: inline-block;
    padding: 0 3vw
  }

.suki-loop-grid .entry .entry-wrapper h2:after {
  content: '';
  position: absolute;
  width: 35%;
  right: -50%;
  bottom: -8%;
  left: -50%;
  margin: 0 auto;
  border-top: 1px solid white;
}

  .suki-loop-grid.suki-loop-grid-2-columns .entry {
    width: 100%;

  }

.suki-loop-grid .entry .entry-wrapper img{
  @include img-grid(2, 2, 0, 60px, cover)
}

  @media screen and (min-width: 768px) {
    .suki-loop-grid.suki-loop-grid-2-columns .entry {
      width: 50%;
    }

    .suki-loop-grid .entry .entry-wrapper h2 {
      @include font-size(3.0rem);
    }

  }

@media screen and (min-width: 1024px) {
  .suki-loop-grid .entry .entry-wrapper img{
    @include img-grid(2, 2, 0, 80px, cover)
  }
}

  .suki-loop-grid .suki-loop-grid .entry {
    padding: 0;
    margin-bottom:0;
    border: 0;
  }

  .suki-loop-grid .entry .entry-wrapper{
    position: relative;
    padding: 0;
    border: 0;
  }

  .suki-loop-grid .entry a.entry-thumbnail:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: $brand-primary;
    opacity: .85;
    z-index: 1;
  }




  .suki-loop-grid .entry .entry-header{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 50;
    width: 94%;
    margin: 0 3%;
    text-align: center;
  }

  .suki-loop-grid .entry a,
  .suki-loop-grid .entry a:hover{
    color: $brand-white;
    text-decoration: none;
  }


.suki-loop-grid .entry-layout-grid .entry-thumbnail:first-child{
  margin: 0;
}
  .suki-loop-grid .entry .entry-wrapper .entry-small-title{

  }
 */
