// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/* override the suki defaults since we're using the mobile menu 100% of the time */
.suki-header-mobile{
  display:block;
}

.suki-header-mobile-vertical {
  display: block;
}

/* site name */
.site-title.menu-item.h1{
  color: $brand-white;
  font-size: 1.5rem;
  font-weight: bold;

  a {
    color: $brand-white;
  }
}

.suki-header-mobile-logo.site-branding.menu{
  position: fixed;
  top: 0;
  left: 2px;
  height: 60px;

  .svg-logo-wrap{
    height: 60px;
    display: flex;
    align-items: center;
  }
}

/* hamburger */
.suki-popup-toggle.suki-toggle{
  position: fixed;
  right: 5px;
  display: flex;
}

.suki-popup-close-icon .suki-icon{
  background-color: $brand-black;
}



span.svg-logo-wrap span[class^="logo-name-word-"]{
  margin-right: 12px;
  max-width: 200px;
  transition: .75s;
}

/* scrolled-true circles */
.suki-header-mobile-logo:before,
.suki-popup-toggle.suki-toggle:before{
  position: fixed;
  top: 5px;
  content: '';
  width: 0;
  height: 0;
  z-index: -1;
}

.suki-popup-toggle.suki-toggle:before{
    border-radius: 50%;
    background: $brand-black;
}

.suki-header-mobile-logo:before{
  left: 5px;
}
.suki-popup-toggle.suki-toggle:before{
  right: 5px
}

.nav-hide-on-scroll {
  visibility: visible;
  width: 100%;
  opacity: .5s;
  transition: opacity 1s linear;
}

.has-scrolled{

  .nav-hide-on-scroll{
    visibility: hidden;
    width: 0;
    opacity: 0;
    transition: visibility 0s .75s, opacity .5s linear, width 0s .75s;
  }

  .svg-logo-wrap span[class^="logo-name-word-"]{
    color: transparent;
    display: inline-block;
    margin-right: 0;

    max-width: 17px;
    transition: max-width 500ms ease-out;
    overflow: hidden;
    z-index:-2
  }

  span.svg-logo-wrap span[class^="logo-name-word-"]::first-letter{
    color: $brand-white;
  }

  span.svg-logo-wrap span[class^="logo-name-word-1"]{
    left: unset;
    transition: .75s;
  }

  .suki-header-mobile-logo:before,
  .suki-popup-toggle.suki-toggle:before{
    width: 50px;
    height: 50px;
    transform:scale(1);
    //transition-duration: .5s;
    /* box-shadow: $text-shadow-light; */
  }
}

.suki-header-section-vertical .suki-header-menu li.menu-item{
    margin-bottom: 3.5vh;
}

.au-menu-search-wrap{
  display: none;
}

@media screen and (min-height: 650px){
.au-menu-search-wrap{
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  .search-form .search-field{
    letter-spacing: 1.5px;
    color: $brand-white;
    background-color: $brand-black;
    border-color: $brand-white;
    padding: 0.7rem;
    border-radius: 0;

    &:focus{
      color: $brand-black;
      background-color: $brand-white;
    }
  }
  .search-form>label+input[type=submit] {
    display: block;
    border-radius: 0;
    background-color: transparent;
    border-color: $brand-white;
    font-weight: normal;
    margin-top: .5rem;

    &:hover{
      background-color: $brand-white;
      color: $brand-primary;
    }

  }
}
}

.suki-header-section-vertical .suki-header-menu a.suki-menu-item-link {
  @include a-href;
  line-height: 0;
}

.suki-header-section-vertical .suki-header-menu a:active.suki-menu-item-link,
.suki-header-section-vertical .suki-header-menu a:focus.suki-menu-item-link,
.suki-header-section-vertical .suki-header-menu a:hover.suki-menu-item-link {
    @include a-href-on-event
}

.suki-search-icon.suki-icon svg{
  height: 1em;
}
.suki-search-icon.suki-icon svg:not([stroke]),
.suki-search-icon.suki-icon svg:not([stroke]){
  fill: $brand-black;
  stroke: $brand-black;
}

.suki-popup.suki-popup-active {
    opacity: unset;
    visibility: unset;
    transition: unset;
    -webkit-backface-visibility: unset;
    backface-visibility: unset;
}

/* pop-over menu */
 #mobile-vertical-header .suki-header-mobile-vertical-bar{
  max-width: calc(100% - 0rem);
  width: 100vw;
 }

// slide in open
.nav-open-true { 
  #mobile-vertical-header .suki-header-mobile-vertical-bar{
    
    transition: transform 1.0s ease-out,-webkit-transform 1.0s ease-out;

    @media screen and (min-width: 500px){
        transition-duration: 1.17s;
    }
    @media screen and (min-width: 1000px){
        transition-duration: 1.34s;
    }
    @media screen and (min-width: 1500px){
        transition-duration: 1.5s;
    }
    @media screen and (min-width: 2000px){
        transition-duration: 1.67s;
    }
    @media screen and (min-width: 2500px){
        transition-duration: 1.84s;
    }
    @media screen and (min-width: 3000px){
      transition-duration: 2.00s;
    }
  }
}

// slide in closed
.nav-open-false{

  .suki-popup-close-icon{
      display: none;
  }
  
  #mobile-vertical-header .suki-header-mobile-vertical-bar{
    transform: translate(-100%,0);
    transition: transform 0.85s,-webkit-transform 0.85s;

    @media screen and (min-width: 500px){
        transition-duration: .92s;
    }
    @media screen and (min-width: 1000px){
        transition-duration: 1.19s;
    }
    @media screen and (min-width: 1500px){
        transition-duration: 1.35s;
    }
    @media screen and (min-width: 2000px){
        transition-duration: 1.52s;
    }
    @media screen and (min-width: 2500px){
        transition-duration: 1.69s;
    }
    @media screen and (min-width: 3000px){
        transition-duration: 1.85s;
    }
  }

  .suki-popup {
    
    opacity: 1;
     transition-duration: 0.85s;

    @media screen and (min-width: 500px){
        transition-duration: 0.93s;
    }
    @media screen and (min-width: 1000px){
        transition-duration: 1.20s;
    }
    @media screen and (min-width: 1500px){
        transition-duration: 1.36s;
    }
    @media screen and (min-width: 2000px){
        transition-duration: 1.53s;
    }
    @media screen and (min-width: 2500px){
        transition-duration: 1.70s;
    }
    @media screen and (min-width: 3000px){
        transition-duration: 1.86s;
    }
  }
}


.suki-popup-close-icon.suki-popup-close.suki-toggle{
  z-index: 10
}

.suki-toggle.suki-popup-close-icon {
  margin: 18px 6px 0 0;
  opacity: 1.0;
}

@media screen and (min-width: 1024px) {

  .suki-toggle.suki-popup-close-icon {
    margin: 20px 5px 0 0;
  }
}

.suki-header-mobile-logo svg{
  fill: $brand-white;
  stroke: $brand-white;
  stroke-width: .5px;
  height: 100vh;
  max-width:70vw;
  max-height: 45px;
}

.suki-header-mobile-vertical-bar .suki-header-section-vertical-column {
  padding: 0px;
}

.suki-header-html-1{
  max-width: 80vw;
  margin: 0 auto
}

.suki-header-html-1 svg{
  width: 100%
}


.suki-icon svg{
  height: 1.5rem;
  width: 50px;
  margin: 0
}

#mobile-vertical-header{
  
  .menu-brand-wrapper{
    position: absolute;
    right: 0;
    bottom: 3.5rem;
    left: 0
  }

  .suki-popup-background{
    background-color: transparent;
  }

  .suki-popup-content{
    background-color: $brand-black;
  }
}

.menu-brand-wrapper{
 /* padding: .5rem 0; */
  font-family: 'Courier New',Courier,monospace;
  font-size: 1.5rem;
  color: $brand-white;
  font-weight:  bold;
  text-align: center;

  p{
      margin-bottom: 0;
      line-height: 1.2;

      &.blog-info-description{
          font-size: 75%;
          font-weight: normal
      }
  }
}

.menu-brand-wrapper:before{
    content: '';
    display: block;
    width: 100%;
    height: 90px;
    margin-bottom: .5rem;
    background: url($brand-logo) center no-repeat;
    background-size: contain;
}

@media screen and (max-height: 718px) {
  #mobile-vertical-header .menu-brand-wrapper:before{
    display: none
  }
}

@media screen and (min-height: 719px) and (max-height: 750px) {
  #mobile-vertical-header .menu-brand-wrapper:before{
    height: 75px
  }
}


.has-scrolled .suki-header-mobile-logo:before{
    background: url($brand-logo);
    background-size: contain;
}

@media screen and (min-width: 1024px) {

  .menu-brand-wrapper p{
    font-size: 1.8rem;
  }


  .site-title.menu-item.h1 {
    font-size: 1.8rem;
  }

  .suki-header-mobile-logo.site-branding.menu{
    left: 5px;
    height: 75px;

      .svg-logo-wrap{
        height: 75px;
        display: flex;
        align-items: center;
      }

  }

  .suki-header-mobile-main-bar{
    height: 75px
  }
  .suki-header-mobile-logo svg{
    max-height: 60px;
  }

  .suki-icon svg{
    height: 1.5rem;
    width: 65px;
    margin: 0
  }

  .has-scrolled{

    .svg-logo-wrap span[class^="logo-name-word-"] {
      max-width: 21px;
    }
  }

  .has-scrolled .suki-header-mobile-logo:before,
  .has-scrolled .suki-popup-toggle.suki-toggle:before{
    width: 65px;
    height: 65px;
  }
}

.suki-icon{
    width: auto;
    height: auto;

    svg:not([fill]) {
      fill: $brand-white;
    }

    svg:not([stroke]) {
      stroke: $brand-white;
    }

  }
