.blog.paged .suki-content-inner.suki-section-inner{
  padding: 1em .5em 0 .5em;
}
.archive header.page-header,
.blog header.page-header,
.search header.page-header{
    text-align: center;
  background-color: $brand-black;
  border:none;
  padding:2.0rem;
  margin: 0 3vw;

  .page-title{
      margin: 0;
      font-weight: bold;
      line-height: 1.3;
      margin-bottom: 0;

      span{
        display: block;
        line-height: 1.0;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }
  }

  .posts-is-paged{
    display: block;
    font-family: $text-font-stack;
    font-size: 1rem;
    margin-top: 1.0rem;
  }

  .page-title:last-child{
    margin-top:0;
    /*margin-bottom: .67em */
  }
}

.search header.page-header{
  margin-bottom: 0;
}
.archive header.page-header{
  margin: 0;
}
