.archive{
    header.page-header{
        background-color: $brand-black;
        margin: 0 3vw;
        
        .archive-description{
            margin: 0;

            p{
                margin: 0;
            }
        }
    }

}

.blog{
        header.page-header{
        background-color: $brand-black;
        margin: 0 3vw;

        .page-title{
            text-align: center;
            font-weight: bold;
            margin: 0
        }
        }
}
.suki-loop{

    a{
        display: block;
        padding: 3vw;
        margin: 0;
        border: none;
        margin-bottom:1px;
    }

    &:first-child{
        margin-top:1.0rem;
    }

    article{
        position: relative;
        text-align: center;
        border: 1px solid $brand-black;
        padding: 0;

        &.entry{
            margin-top: 1.0rem;
            margin-bottom: 0;
        }

        &:hover{

            background-color: $brand-white;
            color: $brand-primary;
            border-color: $brand-primary;

            h2,
            .entry-content{
            background-color: $brand-white;
            color: $brand-primary;
            }
            
            .entry-content{
                &:after{
                    border-color: transparent;
                }
            }
        }
    }
    .entry-content{
        border-top: none;

        &:after{
            content:'';
            width: 50%;
            height: 1px;
            margin: 3vw auto 0;
            display: block;
            border-bottom: 1px solid transparent;
            position: absolute;
            left: 25%;
        }
    }
}

.has-scrolled {
    .suki-loop{
        .entry-content{
            border-top: none;
            
            &:after{
                border-color: $brand-white;
            }
        }

        article:hover{
            border-color: green;
        }
    }

}
