.error404{

    h1.title-404{

    }

    h2.search-404{
        font-size: 1.5rem;
        margin-top:2.5rem
    }

    section.entry-content{
        border-top: none
    }

    .suki-page-header-inner{
        padding-top: 0
    }

    nav.nav-404-suggestions li{
        margin-bottom: 1rem
    }

  .Xpage-content{
    text-align: center;
  }
}
