.search{

 .entry-wrapper {
   position: relative;
 }

  .entry-header a,
  .entry-header a:focus,
  .entry-header a:hover{
    color: $brand-white;
  }

  .no-results.not-found{
      padding: 1rem 2rem;
      font-size: 1.25rem;
      text-align: center;
      color: $brand-primary;
  }

}

.search .page-header,
.details-inner.details-search{
    margin-top: .5rem;
}