/* Suki Dynamic CSS */
.has-suki-color-1-background-color {
    background-color: #e11627;
}
.has-suki-color-1-color {
    color: #e11627;
}
.has-suki-color-2-background-color {
    background-color: #fff;
}
.has-suki-color-2-color {
    color: #fff;
}
.has-suki-color-3-background-color {
    background-color: #000;
}
.has-suki-color-3-color {
    color: #000;
}
.has-suki-color-4-background-color {
    background-color: #555;
}
.has-suki-color-4-color {
    color: #555;
}
.has-suki-color-5-background-color {
    background-color: #c1c1c1;
}
.has-suki-color-5-color {
    color: #c1c1c1;
}
html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    line-height: 1.5;
}
.has-medium-text-size {
    line-height: calc(0.95 * 1.5);
}
.has-large-text-size {
    line-height: calc(0.875 * 1.5);
}
.has-larger-text-size {
    line-height: calc(0.8 * 1.5);
}
p.has-drop-cap:not(:focus):first-letter {
    font-size: 4.2em;
    color: #fff;
}
body {
    color: #fff;
}
pre,
code,
.page-header,
.tagcloud a,
.navigation.pagination .current,
span.select2-container .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice,
.wp-block-table.is-style-stripes tr:nth-child(odd) {
    background-color: #f6f6f6;
}
* {
    border-color: #c1c1c1;
}
a,
.suki-toggle {
    color: #fff;
}
.navigation .nav-links a:hover,
.navigation .nav-links a:focus,
.tagcloud a:hover,
.tagcloud a:focus,
.reply:hover,
.reply:focus {
    color: #fff;
}
.entry-meta a:hover,
.entry-meta a:focus,
.comment-metadata a:hover,
.comment-metadata a:focus,
.widget .post-date a:hover,
.widget .post-date a:focus,
.widget_rss .rss-date a:hover,
.widget_rss .rss-date a:focus {
    color: #e11627;
}
h1 a:hover,
h1 a:focus,
.h1 a:hover,
.h1 a:focus,
h2 a:hover,
h2 a:focus,
.h2 a:hover,
.h2 a:focus,
h3 a:hover,
h3 a:focus,
.h3 a:hover,
.h3 a:focus,
h4 a:hover,
h4 a:focus,
.h4 a:hover,
.h4 a:focus,
h5 a:hover,
h5 a:focus,
.h5 a:hover,
.h5 a:focus,
h6 a:hover,
h6 a:focus,
.h6 a:hover,
.h6 a:focus,
.comment-author a:hover,
.comment-author a:focus,
.entry-author-name a:hover,
.entry-author-name a:focus {
    color: #fff;
}
.suki-header-section a:not(.button):hover,
.suki-header-section a:not(.button):focus,
.suki-header-section .suki-toggle:hover,
.suki-header-section .suki-toggle:focus,
.suki-header-section .menu .sub-menu a:not(.button):hover,
.suki-header-section .menu .sub-menu a:not(.button):focus,
.suki-header-section .menu .sub-menu .suki-toggle:hover,
.suki-header-section .menu .sub-menu .suki-toggle:focus,
.suki-header-section-vertical a:not(.button):hover,
.suki-header-section-vertical a:not(.button):focus,
.suki-header-section-vertical .suki-toggle:hover,
.suki-header-section-vertical .suki-toggle:focus,
.suki-header-section-vertical .menu .sub-menu a:not(.button):hover,
.suki-header-section-vertical .menu .sub-menu a:not(.button):focus,
.suki-header-section-vertical .menu .sub-menu .suki-toggle:hover,
.suki-header-section-vertical .menu .sub-menu .suki-toggle:focus {
    color: #fff;
}
::selection {
    background-color: #fff;
}
.suki-header-shopping-cart .shopping-cart-count {
    background-color: #fff;
}
a:hover,
a:focus,
.suki-toggle:hover,
.suki-toggle:focus {
    color: #fff;
}
h1,
.h1 {
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: 2.5rem;
     line-height: 1.3;
}
.title,
.entry-title,
.page-title {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 2.75rem;
    font-style: normal;
    line-height: 1.1;
}
h2,
.h2 {
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: 2.5rem;
}
h3,
.h3 {
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: 2.33rem;
}
legend,
.small-title,
.entry-small-title,
.comments-title,
// .comment-reply-title,
.page-header .page-title {
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: 2.33rem;
}
h4,
.h4 {
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1;
}
.widget-title {
    font-family: web_safe_fonts|Courier New;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a,
.comment-author a,
.entry-author-name,
.entry-author-name a {
    color: #fff;
}
.suki-header-section a:not(.button),
.suki-header-section .suki-toggle,
.suki-header-section .menu .sub-menu a:not(.button),
.suki-header-section .menu .sub-menu .suki-toggle,
.suki-header-section-vertical a:not(.button),
.suki-header-section-vertical .suki-toggle,
.suki-header-section-vertical .menu .sub-menu a:not(.button),
.suki-header-section-vertical .menu .sub-menu .suki-toggle {
    color: #fff;
}
.navigation .nav-links .current {
    color: #fff;
}
table th {
    color: #fff;
}
blockquote {
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.4;
}
input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
.input,
select,
textarea,
.search-field,
span.select2-container .select2-selection,
span.select2-container.select2-container--open .select2-dropdown {
    background-color: #333;
    border-color: #666;
    color: #fff;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
.input:hover,
.input:focus,
select:focus,
textarea:focus,
.search-field:focus,
span.select2-container.select2-container--open .select2-selection {
    background-color: #fff;
    border-color: #e21b23;
    color: #000;
}
span.select2-container.select2-container--open .select2-dropdown {
    border-color: #e21b23;
}
.entry-meta,
.comment-metadata,
.widget .post-date,
.widget_rss .rss-date {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8;
}
.suki-wrapper,
.suki-section-contained > .suki-section-inner {
    width: 1023px;
}
.suki-header-section .menu .sub-menu {
    max-width: 1023px;
}
.suki-content-layout-narrow .site-main {
    max-width: 1024px;
}
.suki-header-main-bar .suki-header-column > * {
    padding: 0 20px;
}
.suki-header-main-bar-row {
    margin: 0 -20px;
}
.suki-header-main-bar .suki-header-menu .menu-item {
    padding: 0 20px;
}
.suki-header-main-bar.suki-header-menu-highlight-background .suki-header-menu > .menu > .menu-item > .suki-menu-item-link,
.suki-header-main-bar.suki-header-menu-highlight-border-top .suki-header-menu > .menu > .menu-item > .suki-menu-item-link,
.suki-header-main-bar.suki-header-menu-highlight-border-bottom .suki-header-menu > .menu > .menu-item > .suki-menu-item-link {
    padding: 0 20px;
}
.suki-header-main-bar.suki-header-menu-highlight-none .suki-header-menu > .menu > .menu-item > .sub-menu,
.suki-header-main-bar.suki-header-menu-highlight-underline .suki-header-menu > .menu > .menu-item > .sub-menu {
    margin-left: -20px;
}
.suki-header-main-bar {
    font-family: "Courier New", Courier, monospace;
    line-height: 1;
}
.suki-header-main-bar .menu .menu-item > .suki-menu-item-link {
    font-size: 1.25rem;
}
.suki-header-top-bar {
    font-family: "Courier New", Courier, monospace;
}
.suki-header-top-bar-inner {
    background-color: #000;
}
.suki-header-top-bar .menu > .menu-item .sub-menu {
    background-color: #000;
}
.suki-header-mobile-main-bar-inner {
    background-color: #000;
}
.suki-header-mobile-vertical-bar {
    width: 342px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}
.suki-header-mobile-vertical.suki-header-mobile-vertical-display-full-screen .suki-header-section-vertical-column {
    width: 342px;
}
.suki-header-mobile-vertical-bar-inner {
    padding: 40px 15px 15px 15px;
    background-color: #000;
}
.suki-header-mobile-vertical-bar .suki-header-section-vertical-row > * {
    padding: 5px 0;
}
.suki-header-mobile-vertical-bar .suki-header-section-vertical-column {
    margin: -5px 0;
}
.suki-header-mobile-vertical-bar .menu .menu-item > .suki-menu-item-link,
.suki-header-mobile-vertical-bar .menu-item > .suki-toggle {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1;
}
.suki-header-mobile-vertical-bar a:not(.button),
.suki-header-mobile-vertical-bar .suki-toggle,
.suki-header-mobile-vertical-bar .menu .sub-menu a:not(.button),
.suki-header-mobile-vertical-bar .menu .sub-menu .suki-toggle {
    color: #fff;
}
.suki-header-mobile-vertical-bar a:not(.button):hover,
.suki-header-mobile-vertical-bar a:not(.button):focus,
.suki-header-mobile-vertical-bar .suki-toggle:hover,
.suki-header-mobile-vertical-bar .suki-toggle:focus,
.suki-header-mobile-vertical-bar .menu .sub-menu a:not(.button):hover,
.suki-header-mobile-vertical-bar .menu .sub-menu a:not(.button):focus,
.suki-header-mobile-vertical-bar .menu .sub-menu .suki-toggle:hover,
.suki-header-mobile-vertical-bar .menu .sub-menu .suki-toggle:focus {
    color: #e11627;
}
.suki-header-mobile-vertical-bar .current-menu-item > .suki-menu-item-link,
.suki-header-mobile-vertical-bar .current-menu-ancestor > .suki-menu-item-link {
    color: #e11627;
}
.suki-page-header-inner {
    padding: 45px 0 0 0;
    background-color: #fff;
}
.suki-content-inner {
    padding: 1em 0.5em 0 0.5em;
}
.suki-content-layout-narrow .alignwide,
.suki-content-layout-wide .alignwide {
    left: calc(50% - 50vw + 1em);
    max-width: calc(100vw - (2 * 1em));
}
.suki-footer-widgets-bar-inner {
    padding: 50px 20px 50px 20px;
    background-color: #000;
}
.suki-footer-widgets-bar-column {
    padding: 0 30px;
}
.suki-footer-widgets-bar-row {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -30px;
}
.suki-footer-widgets-bar .widget {
    margin-bottom: 30px;
}
.suki-footer-widgets-bar {
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
}
.suki-footer-widgets-bar .widget-title {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.25rem;
    color: #fff;
}
.suki-footer-widgets-bar a:not(.button) {
    color: #fff;
}
.suki-footer-bottom-bar-inner {
    padding: 25px 25px 25px 25px;
    border-width: 1px 0 0 0;
    background-color: #000;
    border-color: #000;
}
.suki-footer-bottom-bar {
    font-size: 0.85rem;
    color: #fff;
}
.suki-footer-bottom-bar a:not(.button) {
    color: #fff;
}
.suki-footer-bottom-bar a:not(.button):hover,
.suki-footer-bottom-bar a:not(.button):focus {
    color: #fff;
}
@media screen and (max-width: 1023px) {
    html {
        font-size: 1.3rem;
        line-height: 1.5;
    }
    h3,
    .h3 {
        font-size: 2rem;
    }
    legend,
    .small-title,
    .entry-small-title,
    .comments-title,
    //.comment-reply-title,
    .page-header .page-title {
        font-size: 2rem;
    }
    h4,
    .h4 {
        font-size: 1.6rem;
        line-height: 1.1;
    }
    .widget-title {
        font-size: 1.6rem;
        line-height: 1.1;
    }
    .title,
    .entry-title,
    .page-title {
        font-size: 2.25rem;
    }
    .suki-content-inner {
        padding: 1em 0.5em 0 0.5em;
    }
    .content-area .site-main {
        padding: 0;
    }
    .entry-layout-default:first-child .entry-thumbnail.suki-entry-thumbnail-ignore-padding:first-child {
        margin-top: -0px !important;
    }
    .entry-layout-default .entry-thumbnail.suki-entry-thumbnail-ignore-padding {
        margin-right: -0px !important;
        margin-left: -0px !important;
    }
}
@media screen and (max-width: 499px) {
    html {
        font-size: 1.2rem;
        line-height: 1.5;
    }
    h1,
    .h1 {
        font-size: 2rem;
    }
    .title,
    .entry-title,
    .page-title {
        font-size: 1.75rem;
    }
    h2,
    .h2 {
        font-size: 1.6rem;
    }
    h3,
    .h3 {
        font-size: 1.7rem;
    }
    legend,
    .small-title,
    .entry-small-title,
    .comments-title,
    // .comment-reply-title,
    .page-header .page-title {
        font-size: 1.7rem;
    }
    h4,
    .h4 {
        font-size: 1.5rem;
        line-height: 1.2;
    }
    .widget-title {
        font-size: 1.5rem;
        line-height: 1.2;
    }
    .suki-content-inner {
        padding: 1em 0.5em 0 0.5em;
    }
    .content-area .site-main {
        padding: 0;
    }
    .entry-layout-default:first-child .entry-thumbnail.suki-entry-thumbnail-ignore-padding:first-child {
        margin-top: -0em !important;
    }
    .entry-layout-default .entry-thumbnail.suki-entry-thumbnail-ignore-padding {
        margin-right: -0em !important;
        margin-left: -0em !important;
    }
}

