// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: calc(0.95em + .3vw);
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
body {
  font-size: #{$font-base }#{$font-unit};
  line-height: 1.35;
}
*/

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  @include a-href;


  @include on-event {

    @include a-href-on-event
  }
}

.suki-header-section-vertical .suki-header-menu .current-menu-item a.suki-menu-item-link,
.current-menu-item a.suki-menu-item-link{
    @include a-href-on-event
    padding: .3rem .2rem 2px .2rem;
    margin: 0;
}

.suki-footer-bottom-bar a,
.site-title a{
    text-decoration: none;
    border-bottom: none;
    margin:0;

    @include on-event {
        text-decoration: none;
        border-bottom: none;
        background-color: transparent
    }
}

.site-title.menu-item a{
    padding-left: 0
}
