.has-text-color.has-primary-color{
  color: $brand-primary
}
/**
.has-text-color.has-secondary-color{
  color: $brand-secondary;
}
*/
.has-text-color.has-accent-dark-color{
  color: $brand-accent-dark
}
.has-text-color.has-accent-light-color{
  color: $brand-accent-light
}
.has-text-color.has-white-color{
  color: $brand-white
}
.has-text-color.has-black-color{
  color: $brand-black
}

.has-primary-background-color,
.has-background.has-primary-background-color{
  background-color: $brand-primary
}
/**
.has-secondary-background-color,
.has-background.has-secondary-background-color{
  background-color: $brand-secondary;
}
*/
.has-accent-dark-background-color,
.has-background.has-accent-dark-background-color{
  background-color: $brand-accent-dark
}
.has-accent-light-background-color,
.has-background.has-accent-light-background-color{
  background-color: $brand-accent-light
}
.has-white-background-color,
.has-background.has-white-background-color{
  background-color: $brand-white
}
.has-black-background-color,
.has-background.has-black-background-color{
  background-color: $brand-black
}
