// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: $max-width; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
 }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.entry-content {

  .au22_font-weight_bold {
    font-weight: bold;
  }

  ol li,
  ul li {
      margin-bottom: 0.5rem;
  }

.wp-block-image{

    img {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
    
    &.au22-bw-false img,
    img:hover {
        -webkit-filter: grayscale(0);
        filter: none;
    }
}

.au22_margin-top_0 {
  margin-top: 0
}

.au22_margin-top_0-5rem{
  margin-top: 0.5rem
}

.au22_margin-top_0-75rem {
  margin-top: 0.75rem
}

.au22_margin-top_1-0rem {
  margin-top: 1.0rem
}

.au22_margin-top_1-25rem {
  margin-top: 1.25rem
}

.au22_margin-top_1-5rem {
  margin-top: 1.5rem
}

  .au22_margin-bottom_0,
  ol.au22_margin-bottom_0 li,
  ul.au22_margin-bottom_0 li{
    margin-bottom: 0
  }

  .au22_margin-bottom_0-5rem,
  ol.au22_margin-bottom_0-5rem li,
  ul.au22_margin-bottom_0-5rem li {
    margin-bottom: 0.5rem;
  }
  
    .au22_margin-bottom_0-75rem,
    ol.au22_margin-bottom_0-75rem li,
    ul.au22_margin-bottom_0-75rem li {
      margin-bottom: 0.75rem;
    }

    .au22_margin-bottom_1-0rem,
    ol.au22_margin-bottom_1-0rem li,
    ul.au22_margin-bottom_1-0rem li {
      margin-bottom: 1.0rem;
    }

    .au22_margin-bottom_1-25rem,
    ol.au22_margin-bottom_1-25rem li,
    ul.au22_margin-bottom_1-25rem li {
      margin-bottom: 1.25rem;
    }

  .au22_margin-bottom_1-5rem,
  ol.au22_margin-bottom_1-5rem li,
  ul.au22_margin-bottom_1-5rem li {
    margin-bottom: 1.5rem;
  }
  

}
