// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

@mixin a-href{
    padding: .3rem 0 2px 0;
    margin: 0 .2rem;
    border-bottom: 1px solid $brand-white;
}

@mixin a-href-on-event{
    padding: .3rem .2rem 2px .2rem;
    margin: 0;
    border-bottom-color: transparent;
    text-decoration: none;
    background-color: $brand-white;
    color: $brand-primary
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin img-grid($rows, $cols, $adj-w:0, $adj-h:0, $obj-fit:cover){
  width: calc((100% - #{$adj-w}) / #{$cols});
  height: calc((100vh - #{$adj-h}) / #{$rows});
  object-fit: $obj-fit
}
