// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$brand-logo: '../svg/alchemy-united-logo.min.svg';
$brand-logo-alt: '../svg/au-heart-stroke.min.svg';
$font-base: 1.1;
$font-increment: 3;
$font-unit: 'rem';

$brand-primary: #E11627;
/*
$brand-secondary: #38bc77; //#f8ba48;
*/
$brand-accent-dark:  #555555;
$brand-accent-light:  #C1C1C1;;
$brand-white:#fff;
$brand-black: #000;

$grey-xxl: #F6F6F6;
$grey-xl: #C1C1C1;
$grey-lt: #999999;
$grey-md: #777777;
$grey-dk: #555555;
$grey-xd: #333333;

$text-shadow-dark: 0 0 6px rgba(0,0,0,.5);
$text-shadow-light: 0 0 6px rgba(205,210,212,.5);
$arrow-before: "\00ab";
$arrow-after: "\00bb";

/// Regular font family
/// @type List
//$text-font-stack: "Lato",sans-serif !default;

$headline-font-stack: 'Courier New',Courier,monospace;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$text-font-stack: 'Arial' , 'Helvetica Neue', Helvetica, 'sans-serif';


/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/*

TODO - These are Bootstrap 3 breakpoints

$xs-min : "only screen and (min-width:none)";
$xs-max : "only screen and (max-width:767px)";
$xs-sm : "only screen (min-width: none) and (max-width:767px)";

$sm-min : "only screen and (min-width:768px)";
$sm-max : "only screen and (max-width:991px)";
$sm-md : "only screen (min-width: 768px) and (max-width:991px)";

$md-min : "only screen and (min-width:992px)";
$md-max : "only screen and (max-width:1199px)";
$md-lg : "only screen (min-width: 992px) and (max-width:1199px)";

$lg-min : "only screen and (min-width:1200px)";
$lg-max : "only screen and (max-width:none)";


 */





/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
